# **Studi Kasus Apache Spark**

| Nama   | NRP |
| -------- | ------- |
| Nathan Kho Pancras  | 5027231002    |
| Michael Kenneth Salim | 5027231002     |

## **Import Library dan Download Dataset**

In [50]:
import kagglehub
import os
from pyspark.sql import SparkSession

path = kagglehub.dataset_download("sudalairajkumar/cryptocurrencypricehistory")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/cryptocurrencypricehistory

## **Menginisiasi Spark Session**

In [51]:
spark = SparkSession.builder.getOrCreate()

In [52]:
spark

## **Pre-Processing Data**

### Membaca Data

In [54]:
Coins = ["BTC", "ETH", "DOGE", "USD", "Stellar"]

Read_BTC = spark.read.csv(f"{path}/coin_Bitcoin.csv", header=True, inferSchema=True)
Read_ETH = spark.read.csv(f"{path}/coin_Ethereum.csv", header=True, inferSchema=True)
Read_DOGE = spark.read.csv(f"{path}/coin_Dogecoin.csv", header=True, inferSchema=True)
Read_USD = spark.read.csv(f"{path}/coin_USDCoin.csv", header=True, inferSchema=True)
Read_Stellar = spark.read.csv(f"{path}/coin_Stellar.csv", header=True, inferSchema=True)

print("Data has been successfully read")

Data has been successfully read

### Memastikan Kolom Date Bertipe Tanggal dan Data Diurutkan Secara Kronologis

In [55]:
print("Bitcoin Data")
Read_BTC.show(5)

print("Ethereum Data")
Read_ETH.show(5)

print("Dogecoin Data")
Read_DOGE.show(5)

print("USDCoin Data")
Read_USD.show(5)

print("Stellar Data")
Read_Stellar.show(5)

Bitcoin Data
+---+-------+------+-------------------+------------------+------------------+------------------+------------------+------+---------------+
|SNo|   Name|Symbol|               Date|              High|               Low|              Open|             Close|Volume|      Marketcap|
+---+-------+------+-------------------+------------------+------------------+------------------+------------------+------+---------------+
|  1|Bitcoin|   BTC|2013-04-29 23:59:59|147.48800659179688|             134.0|134.44400024414062| 144.5399932861328|   0.0| 1.6037688645E9|
|  2|Bitcoin|   BTC|2013-04-30 23:59:59|146.92999267578125| 134.0500030517578|             144.0|             139.0|   0.0|  1.542813125E9|
|  3|Bitcoin|   BTC|2013-05-01 23:59:59|139.88999938964844|107.72000122070312|             139.0|116.98999786376953|   0.0|1.29895459375E9|
|  4|Bitcoin|   BTC|2013-05-02 23:59:59| 125.5999984741211| 92.28189849853516|116.37999725341797|105.20999908447266|   0.0|1.16851749525E9|
|  5|Bitcoin|   BTC|2013-05-03 23:59:59|108.12799835205078|  79.0999984741211|            106.25|             97.75|   0.0|1.08599516875E9|
+---+-------+------+-------------------+------------------+------------------+------------------+------------------+------+---------------+
only showing top 5 rows

Ethereum Data
+---+--------+------+-------------------+------------------+------------------+------------------+------------------+---------+---------------+
|SNo|    Name|Symbol|               Date|              High|               Low|              Open|             Close|   Volume|      Marketcap|
+---+--------+------+-------------------+------------------+------------------+------------------+------------------+---------+---------------+
|  1|Ethereum|   ETH|2015-08-08 23:59:59|2.7988100051879883|0.7147250175476074| 2.793760061264038|0.7533249855041504| 674188.0|4.54868942408E7|
|  2|Ethereum|   ETH|2015-08-09 23:59:59|0.8798099756240845| 0.629190981388092|0.7061359882354736|0.7018970251083374| 532170.0|4.23995734991E7|
|  3|Ethereum|   ETH|2015-08-10 23:59:59|0.7298539876937866|0.6365460157394409|0.7139890193939209|0.7084479928016663| 405283.0|4.28183643945E7|
|  4|Ethereum|   ETH|2015-08-11 23:59:59| 1.131410002708435|0.6632350087165833|0.7080870270729065|1.0678600072860718|1463100.0|6.45692884328E7|
|  5|Ethereum|   ETH|2015-08-12 23:59:59|1.2899399995803833|0.8836079835891724| 1.058750033378601|1.2174400091171265|2150620.0|7.36450109863E7|
+---+--------+------+-------------------+------------------+------------------+------------------+------------------+---------+---------------+
only showing top 5 rows

Dogecoin Data
+---+--------+------+-------------------+--------------------+--------------------+--------------------+--------------------+------+---------------+
|SNo|    Name|Symbol|               Date|                High|                 Low|                Open|               Close|Volume|      Marketcap|
+---+--------+------+-------------------+--------------------+--------------------+--------------------+--------------------+------+---------------+
|  1|Dogecoin|  DOGE|2013-12-16 23:59:59|8.658739970996976E-4|1.502130035078153E-4|2.993119996972382E-4|2.047309972112998...|   0.0|  1509085.15965|
|  2|Dogecoin|  DOGE|2013-12-17 23:59:59|2.887900045607239E-4|1.155930003733374...|2.068890025839209...|2.685399958863854...|   0.0|   2169687.9813|
|  3|Dogecoin|  DOGE|2013-12-18 23:59:59|3.616310132201761E-4|2.046080044237896...|2.673169947229326E-4|3.616310132201761E-4|   0.0|  3188943.20963|
|  4|Dogecoin|  DOGE|2013-12-19 23:59:59|0.001519670011475...|3.283029946032911...|3.950539976358413...|0.001162489992566...|   0.0|1.11503392183E7|
|  5|Dogecoin|  DOGE|2013-12-20 23:59:59|0.001142919994890...|6.617510225623846E-4|0.001142919994890...|7.038660114631057E-4|   0.0|  7284337.11836|
+---+--------+------+-------------------+--------------------+--------------------+--------------------+--------------------+------+---------------+
only showing top 5 rows

USDCoin Data
+---+--------+------+-------------------+-------+-------+-------+-------+---------+---------+
|SNo|    Name|Symbol|               Date|   High|    Low|   Open|  Close|   Volume|Marketcap|
+---+--------+------+-------------------+-------+-------+-------+-------+---------+---------+
|  1|USD Coin|  USDC|2018-10-09 23:59:59|1.00833|1.00003|1.00427|1.00686| 108803.0|      0.0|
|  2|USD Coin|  USDC|2018-10-10 23:59:59|1.01908|1.00397|1.00494|1.00962| 711783.0|      0.0|
|  3|USD Coin|  USDC|2018-10-11 23:59:59|1.03123|1.00173|1.00994|1.00978|4177290.0|      0.0|
|  4|USD Coin|  USDC|2018-10-12 23:59:59|1.01871|1.00114|1.00861|1.01272|1322240.0|      0.0|
|  5|USD Coin|  USDC|2018-10-13 23:59:59|1.02029|1.00355|1.01445|1.00743| 698507.0|      0.0|
+---+--------+------+-------------------+-------+-------+-------+-------+---------+---------+
only showing top 5 rows

Stellar Data
+---+-------+------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------+-------------+
|SNo|   Name|Symbol|               Date|                High|                 Low|                Open|               Close|        Volume|    Marketcap|
+---+-------+------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------+-------------+
|  1|Stellar|   XLM|2014-08-06 23:59:59|0.003402469912543893|0.002265719929710...|0.002373080002143979|0.002657030010595...|35819.80078125|966369.516387|
|  2|Stellar|   XLM|2014-08-07 23:59:59|0.003041950054466...|  0.0024549700319767|0.002686100080609...|0.002500700065866...|      142864.0|1079147.57674|
|  3|Stellar|   XLM|2014-08-08 23:59:59|0.003243319923058152|0.002492910018190...|0.002492999890819192|0.002881000051274...|  93707.796875|1260109.49815|
|  4|Stellar|   XLM|2014-08-09 23:59:59|0.003710489952936...|0.002872880082577467| 0.00288371997885406|0.003480789950117469|      233579.0|1645185.47325|
|  5|Stellar|   XLM|2014-08-10 23:59:59|0.007620169781148434|0.003363119903951...|0.003496839897707...|0.004302510060369968|      352737.0|2216011.86288|
+---+-------+------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------+-------------+
only showing top 5 rows

## **Analisis Tren Harga**

### Memasukkan Data ke dalam Database

In [62]:
Read_BTC.createOrReplaceTempView("BTC")
Read_ETH.createOrReplaceTempView("ETH")
Read_DOGE.createOrReplaceTempView("DOGE")
Read_USD.createOrReplaceTempView("USD")
Read_Stellar.createOrReplaceTempView("Stellar")

### Hitung rata-rata harga penutupan (Close) bulanan untuk setiap kripto.

In [80]:
BTC_monthly_query = """
SELECT
    'Bitcoin' AS Coin,
    SUBSTRING(Date, 1, 7) AS Month,
    AVG(Close) AS Avg_Close
FROM BTC
GROUP BY SUBSTRING(Date, 1, 7)
ORDER BY Month
"""
BTC_monthly = spark.sql(BTC_monthly_query)
print("Bitcoin Monthly Averages:")
BTC_monthly.show(5)

ETH_monthly_query = """
SELECT
    'Ethereum' AS Coin,
    SUBSTRING(Date, 1, 7) AS Month,
    AVG(Close) AS Avg_Close
FROM ETH
GROUP BY SUBSTRING(Date, 1, 7)
ORDER BY Month
"""
ETH_monthly = spark.sql(ETH_monthly_query)
print("Ethereum Monthly Averages:")
ETH_monthly.show(5)

doge_monthly_query = """
SELECT
    'Dogecoin' AS Coin,
    SUBSTRING(Date, 1, 7) AS Month,
    AVG(Close) AS Avg_Close
FROM DOGE
GROUP BY SUBSTRING(Date, 1, 7)
ORDER BY Month
"""
doge_monthly = spark.sql(doge_monthly_query)
print("Dogecoin Monthly Averages:")
doge_monthly.show(5)

USD_monthly_query = """
SELECT
    'USDCoin' AS Coin,
    SUBSTRING(Date, 1, 7) AS Month,
    AVG(Close) AS Avg_Close
FROM USD
GROUP BY SUBSTRING(Date, 1, 7)
ORDER BY Month
"""
USD_monthly = spark.sql(USD_monthly_query)
print("USDCoin Monthly Averages:")
USD_monthly.show(5)

Stellar_monthly_query = """
SELECT
    'Stellar' AS Coin,
    SUBSTRING(Date, 1, 7) AS Month,
    AVG(Close) AS Avg_Close
FROM Stellar
GROUP BY SUBSTRING(Date, 1, 7)
ORDER BY Month
"""
Stellar_monthly = spark.sql(Stellar_monthly_query)
print("Stellar Monthly Averages:")
Stellar_monthly.show()

Bitcoin Monthly Averages:
+-------+-------+------------------+
|   Coin|  Month|         Avg_Close|
+-------+-------+------------------+
|Bitcoin|2013-04| 141.7699966430664|
|Bitcoin|2013-05|119.99274124637726|
|Bitcoin|2013-06|107.76140670776367|
|Bitcoin|2013-07|   90.512206539031|
|Bitcoin|2013-08|113.90548435334236|
+-------+-------+------------------+
only showing top 5 rows

Ethereum Monthly Averages:
+--------+-------+------------------+
|    Coin|  Month|         Avg_Close|
+--------+-------+------------------+
|Ethereum|2015-08| 1.259648747742176|
|Ethereum|2015-09| 0.988966029882431|
|Ethereum|2015-10|0.6611039330882411|
|Ethereum|2015-11|0.9313520669937134|
|Ethereum|2015-12| 0.886259263561618|
+--------+-------+------------------+
only showing top 5 rows

Dogecoin Monthly Averages:
+--------+-------+--------------------+
|    Coin|  Month|           Avg_Close|
+--------+-------+--------------------+
|Dogecoin|2013-12|5.005079392503831E-4|
|Dogecoin|2014-01|8.277584448449254E-4|
|Dogecoin|2014-02|0.001317208454046...|
|Dogecoin|2014-03|7.907848067266206E-4|
|Dogecoin|2014-04|5.086171654208253E-4|
+--------+-------+--------------------+
only showing top 5 rows

USDCoin Monthly Averages:
+-------+-------+------------------+
|   Coin|  Month|         Avg_Close|
+-------+-------+------------------+
|USDCoin|2018-10|1.0105476521739132|
|USDCoin|2018-11|1.0125907151823337|
|USDCoin|2018-12|1.0145268469305808|
|USDCoin|2019-01|1.0120390603780642|
|USDCoin|2019-02|1.0134725103628572|
+-------+-------+------------------+
only showing top 5 rows

Stellar Monthly Averages:
+-------+-------+--------------------+
|   Coin|  Month|           Avg_Close|
+-------+-------+--------------------+
|Stellar|2014-08|0.002540925768418...|
|Stellar|2014-09|0.002909000016128...|
|Stellar|2014-10|0.002171554816736...|
|Stellar|2014-11|0.001868230678761...|
|Stellar|2014-12|0.004035920317795488|
|Stellar|2015-01|0.004865157417953014|
|Stellar|2015-02|0.003461841793198...|
|Stellar|2015-03|0.002949970000753...|
|Stellar|2015-04|0.002694938331842...|
|Stellar|2015-05|0.002921270341762612|
|Stellar|2015-06|0.003365656679185...|
|Stellar|2015-07|0.003045869029818...|
|Stellar|2015-08|0.002277762914497045|
|Stellar|2015-09|0.002218637654247383|
|Stellar|2015-10|0.002015595166613498|
|Stellar|2015-11| 0.00196008300408721|
|Stellar|2015-12|0.001864841609682...|
|Stellar|2016-01|0.001777133551396189|
|Stellar|2016-02|0.002002401377780941|
|Stellar|2016-03|0.002100278732306...|
+-------+-------+--------------------+
only showing top 20 rows

### Identifikasi Bulan dengan Rata-Rata Harga Penutupan Tertinggi dan Terendah untuk Setiap Kripto

In [83]:
BTC_highest_lowest_query = """
SELECT
    'Bitcoin' AS Coin,
    MAX(Avg_Close) AS Highest_Avg_Close,
    MIN(Avg_Close) AS Lowest_Avg_Close,
    (SELECT Month FROM (
        SELECT Month, Avg_Close,
        RANK() OVER (ORDER BY Avg_Close DESC) as rank
        FROM (
            SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
            FROM BTC
            GROUP BY SUBSTRING(Date, 1, 7)
        )
    ) WHERE rank = 1) AS Highest_Month,
    (SELECT Month FROM (
        SELECT Month, Avg_Close,
        RANK() OVER (ORDER BY Avg_Close ASC) as rank
        FROM (
            SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
            FROM BTC
            GROUP BY SUBSTRING(Date, 1, 7)
        )
    ) WHERE rank = 1) AS Lowest_Month
FROM (
    SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
    FROM BTC
    GROUP BY SUBSTRING(Date, 1, 7)
)
"""
BTC_highest_lowest = spark.sql(BTC_highest_lowest_query)
print("Bitcoin Highest and Lowest Months:")
BTC_highest_lowest.show(truncate=False)

ETH_highest_lowest_query = """
SELECT
    'Ethereum' AS Coin,
    MAX(Avg_Close) AS Highest_Avg_Close,
    MIN(Avg_Close) AS Lowest_Avg_Close,
    (SELECT Month FROM (
        SELECT Month, Avg_Close,
        RANK() OVER (ORDER BY Avg_Close DESC) as rank
        FROM (
            SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
            FROM ETH
            GROUP BY SUBSTRING(Date, 1, 7)
        )
    ) WHERE rank = 1) AS Highest_Month,
    (SELECT Month FROM (
        SELECT Month, Avg_Close,
        RANK() OVER (ORDER BY Avg_Close ASC) as rank
        FROM (
            SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
            FROM ETH
            GROUP BY SUBSTRING(Date, 1, 7)
        )
    ) WHERE rank = 1) AS Lowest_Month
FROM (
    SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
    FROM ETH
    GROUP BY SUBSTRING(Date, 1, 7)
)
"""
ETH_highest_lowest = spark.sql(ETH_highest_lowest_query)
print("Ethereum Highest and Lowest Months:")
ETH_highest_lowest.show(truncate=False)

DOGE_highest_lowest_query = """
SELECT
    'Dogecoin' AS Coin,
    MAX(Avg_Close) AS Highest_Avg_Close,
    MIN(Avg_Close) AS Lowest_Avg_Close,
    (SELECT Month FROM (
        SELECT Month, Avg_Close,
        RANK() OVER (ORDER BY Avg_Close DESC) as rank
        FROM (
            SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
            FROM DOGE
            GROUP BY SUBSTRING(Date, 1, 7)
        )
    ) WHERE rank = 1) AS Highest_Month,
    (SELECT Month FROM (
        SELECT Month, Avg_Close,
        RANK() OVER (ORDER BY Avg_Close ASC) as rank
        FROM (
            SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
            FROM DOGE
            GROUP BY SUBSTRING(Date, 1, 7)
        )
    ) WHERE rank = 1) AS Lowest_Month
FROM (
    SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
    FROM DOGE
    GROUP BY SUBSTRING(Date, 1, 7)
)
"""
DOGE_highest_lowest = spark.sql(DOGE_highest_lowest_query)
print("Dogecoin Highest and Lowest Months:")
DOGE_highest_lowest.show(truncate=False)

USD_highest_lowest_query = """
SELECT
    'USDCoin' AS Coin,
    MAX(Avg_Close) AS Highest_Avg_Close,
    MIN(Avg_Close) AS Lowest_Avg_Close,
    (SELECT Month FROM (
        SELECT Month, Avg_Close,
        RANK() OVER (ORDER BY Avg_Close DESC) as rank
        FROM (
            SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
            FROM USD
            GROUP BY SUBSTRING(Date, 1, 7)
        )
    ) WHERE rank = 1) AS Highest_Month,
    (SELECT Month FROM (
        SELECT Month, Avg_Close,
        RANK() OVER (ORDER BY Avg_Close ASC) as rank
        FROM (
            SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
            FROM USD
            GROUP BY SUBSTRING(Date, 1, 7)
        )
    ) WHERE rank = 1) AS Lowest_Month
FROM (
    SELECT SUBSTRING(Date, 1, 7) AS Month, AVG(Close) AS Avg_Close
    FROM USD
    GROUP BY SUBSTRING(Date, 1, 7)
)
"""
USD_highest_lowest = spark.sql(USD_highest_lowest_query)
print("USDCoin Highest and Lowest Months:")
USD_highest_lowest.show(truncate=False)

Bitcoin Highest and Lowest Months:
+-------+-----------------+----------------+-------------+------------+
|Coin   |Highest_Avg_Close|Lowest_Avg_Close|Highest_Month|Lowest_Month|
+-------+-----------------+----------------+-------------+------------+
|Bitcoin|57206.72022674067|90.512206539031 |2021-04      |2013-07     |
+-------+-----------------+----------------+-------------+------------+

Ethereum Highest and Lowest Months:
+--------+------------------+------------------+-------------+------------+
|Coin    |Highest_Avg_Close |Lowest_Avg_Close  |Highest_Month|Lowest_Month|
+--------+------------------+------------------+-------------+------------+
|Ethereum|3140.7307596877413|0.6611039330882411|2021-05      |2015-10     |
+--------+------------------+------------------+-------------+------------+

Dogecoin Highest and Lowest Months:
+--------+-------------------+---------------------+-------------+------------+
|Coin    |Highest_Avg_Close  |Lowest_Avg_Close     |Highest_Month|Lowest_Month|
+--------+-------------------+---------------------+-------------+------------+
|Dogecoin|0.43980041612903226|1.1184921919872673E-4|2021-05      |2015-04     |
+--------+-------------------+---------------------+-------------+------------+

USDCoin Highest and Lowest Months:
+-------+------------------+------------------+-------------+------------+
|Coin   |Highest_Avg_Close |Lowest_Avg_Close  |Highest_Month|Lowest_Month|
+-------+------------------+------------------+-------------+------------+
|USDCoin|1.0145268469305808|0.9987704054707741|2018-12      |2020-03     |
+-------+------------------+------------------+-------------+------------+

## **Analisis Volatilitas**

In [86]:
BTC_volatility_query = """
SELECT
    Date,
    High - Low AS Daily_Volatility
FROM BTC
ORDER BY Date
"""
BTC_volatility = spark.sql(BTC_volatility_query)
print("Sample of Bitcoin Daily Volatility:")
BTC_volatility.show(5)

Sample of Bitcoin Daily Volatility:
+-------------------+------------------+
|               Date|  Daily_Volatility|
+-------------------+------------------+
|2013-04-29 23:59:59|13.488006591796875|
|2013-04-30 23:59:59|12.879989624023438|
|2013-05-01 23:59:59| 32.16999816894531|
|2013-05-02 23:59:59| 33.31809997558594|
|2013-05-03 23:59:59|29.027999877929688|
+-------------------+------------------+
only showing top 5 rows